#
# Belcarra OEM Configuration File for belcarrademo

CONTACT="--not set--"                              # Customer Contact
EMAIL="--not set--"                                # Email Address
PHONENUMBER="--not set--"                          # Phone number

PROVIDER="Belcarra"                            # A token that identifies the provider of the driver.
PACKAGEDISPLAYNAME="USBLAN"                        # The driver package display name.

MANUFACTURER="Belcarra Technologies 2005"          # Identifies the device's manufacturer.
DEVICEDESC="BelcarraDemo USBLAN Adapter"           # Describes the device.

SERVICENAME="BelcarraDemoUSBLAN"                   # A token that specifies the name of the service to be installed.
SERVICEDISPLAYNAME="BelcarraDemo USBLAN Service"   # The display name for the Service.
SERVICEBINARY="btdblan"                            # A token that is name of the .sys file.

DEMOKIT="y"
INCLUDEARM="y"


# Optional Configuration Parameters
# Uncomment line and change value if needed.
# The following parameters are all optional, and have defaults within the driver binary when not set.
# Consult the OEM Manual for more information


# Set DHCPDTYPE="1" to enable DHCP for all protocols DHCPDTYPE="2" to disable DHCP for all protocols

#DHCPDTYPE="--not set--"                            # Control the DHCP service
#NETWORK="--not set--"                              # Network for DHCP, e.g. 169.254.1.1
#DHCPSTART="--not set--"                            # Where to start DHCP addresses Nx8

# If the parameter DHCPC248 is not present, or DHCPC248="1"  , the device side network mask is 255.255.255.248

#DHCPC248="--not set--"                             # Set 248 mask
#MAXXLEASEDHCP="--not set--"                        # Maximum DHCP Lease time
#MINLEASEDHCP="--not set--"                         # Minimum DHCP Lease time

VIDPIDS=( "15ec/d030" "15ec/d031" "15ec/d032" "15ec/d040" "15ec/d041" "15ec/d042" )

