#
# Belcarra OEM Configuration File for ../../belcarra.xls

CONTACT="--not set--"                              # Customer Contact
EMAIL="--not set--"                                # Email Address
PHONENUMBER="--not set--"                          # Phone number

PROVIDER="Belcarra"                                # A token that identifies the provider of the driver.
PACKAGEDISPLAYNAME="USBLAN"                        # The driver package display name.

MANUFACTURER="Belcarra Technologies 2005"          # Identifies the device's manufacturer.
DEVICEDESC="Belcarra USBLAN Adapter"               # Describes the device.

SERVICENAME="BelcarraUSBLAN"                       # A token that specifies the name of the service to be installed.
SERVICEDISPLAYNAME="Belcarra USBLAN Service"       # The display name for the Service.
SERVICEBINARY="belcarrablan"                       # A token that is name of the .sys file.


# Optional Configuration Parameters
# Uncomment line and change value if needed.
# The following parameters are all optional, and have defaults within the driver binary when not set.
# Consult the OEM Manual for more information


# Set DHCPDTYPE="1" to enable DHCP for all protocols DHCPDTYPE="2" to disable DHCP for all protocols

#DHCPDTYPE="--not set--"                            # Control the DHCP service
#NETWORK="--not set--"                              # Network for DHCP, e.g. 169.254.1.1
#DHCPSTART="--not set--"                            # Where to start DHCP addresses Nx8

# If the parameter DHCPC248 is not present, or DHCPC248="1"  , the device side network mask is 255.255.255.248

#DHCPC248="--not set--"                             # Set 248 mask
#MAXXLEASEDHCP="--not set--"                        # Maximum DHCP Lease time
MINLEASEDHCP="600"                                 # Minimum DHCP Lease time
MAXIMUMFRAMESIZE=""                                # MTU
KITNAME=""                                         # Optional Kit Name
REGTOKEN=""                                        # Optional Registry Token
NDISDEVICETYPE="y"                                 # NDISDeviceType Flag
NDISDEVICETYPE10="y"                               # NDISDeviceType10 Flag
INCLUDEARM="y"                                     # INCLUDEARM Flag
#DHCPDEVICEFIRST="--not set--"                      # DHCP DeviceFirst Flag
#DEVICEFIRST="--not set--"                          # DHCP DeviceFirst Flag
USBDDELAYUS=""                                     # USBD Delay US
GARPINTERVAL="20"                                  # Gratuitous ARP Interval

VIDPIDS=( "15ec/f021" "15ec/f023" "15ec/f031" "15ec/f035" "15ec/f037" )

